{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {% set formChildren = form.children %}
    {% for input in formChildren %}
        {% if input.vars.name not in ['plainPassword', '_token'] %}
            <div>
                {{ form_label(input) }}
                {{ form_widget(input) }}
            </div>
        {% endif %}

        {% if input.vars.name == 'plainPassword' %}
            {% for field in input %}
                <div>
                    {{ form_label(field) }}
                    {{ form_widget(field) }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {{ form_end(form) }}
{% endblock %}